.add-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin-top: 44px;
  @media only screen and (min-width: 700px) {
    padding: 20px 40px;
  }

  .filter {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 10px;
    @media only screen and (min-width: 700px) {
      max-width: 75%;
      align-self: flex-end;
      flex-direction: row;
    }

    .input-wrapper {
      width: 100% !important;
      flex-grow: 1;
      .input {
        width: 100%;
        max-width: initial;
      }
    }
    .button-wrapper {
      display: flex;
      justify-content: center;
      gap: 7px;
      align-items: center;
      @media only screen and (min-width: 700px) {
        width: 600px;
      }

      .button {
        cursor: pointer;
        max-width: 500px !important;
        &.hidden {
          display: none;
        }
      }

      .sort {
        width: 100%;
        position: relative;

        .list {
          text-align: center;
          background-color: #1f2326;
          color: white;
          position: absolute;
          left: 0;
          right: 0;
          top: 34px;
          padding: 10px 0;
          display: none;
          z-index: 2;
          &.show {
            display: initial;
          }

          .list-item {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 11px;
            line-height: 13px;
            text-align: center;
            color: #fefefe;
            padding: 8px 15px;
            cursor: pointer;

            &:hover {
              border-bottom: 1px solid white;
            }
          }
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: 700px) {
      flex-direction: row;
      align-items: flex-start;
    }

    .category {
      flex-grow: 1;
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      gap: 15px;
      max-width: 400px;
      overflow-x: auto;
      text-align: center;

      @media only screen and (min-width: 700px) {
        flex-direction: column;
      }

      .cat-list {
        flex-grow: 1;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        cursor: pointer;
        // border: 1px solid red;
        color: #b8b8b8;
        &:hover {
          color: black;
        }

        &.active {
          color: black;
        }
      }
    }

    .content-card {
      width: 75%;
      .body-wrapper {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(1, max-content);
        gap: 35px;
        justify-content: center;
        margin-top: 60px;

        @media only screen and (min-width: 700px) {
          justify-content: flex-start;
          grid-template-columns: repeat(2, max-content);
        }
        @media only screen and (min-width: 1000px) {
          grid-template-columns: repeat(3, max-content);
        }
        @media only screen and (min-width: 1300px) {
          grid-template-columns: repeat(4, max-content);
        }
        @media only screen and (min-width: 1700px) {
          grid-template-columns: repeat(5, max-content);
        }
      }

      .button-next-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .button {
          cursor: pointer;
        }

        @media only screen and (min-width: 700px) {
          justify-content: flex-end;
        }
      }
    }
  }
}

.not-connected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  
  img{
    margin-bottom: 2rem;
  }

  .title {
    font-size: 25px !important;
    max-width: 700px;
  }
}
