.enter-email-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 200px;
  padding: 50px;

  .title-modal {
    text-align: center;
  }

  .p-modal {
    margin: 10px 0;
    text-align: center;
    font-size: 10px;

    &.red {
      color: red;
    }
  }

  .form-wrapper-input {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input {
      width: 300px;
    }

    .button {
      margin-top: 25px;
      width: 240px;
    }

    .form-code-otp {
      display: flex;
      margin-bottom: 0 !important;
      input {
        max-width: 40px !important;
        margin-left: 10px;
      }
    }
  }
}
